<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Eva</title>
  <link rel="shortcut icon" href="css/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/keyboard.css">
  <link rel="stylesheet" href="css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="vieweyes">
    <div id="unity-container" class="unity-desktop">
      <canvas id="eyes" onclick="changeview('viewmenu')"></canvas>
    </div>
  </div>
  <div id="viewmenu" class="viewmenu">
    <div class="menu-style col-md-12">
      <div id="back" class="btn btn-primary menu col-md-4" onclick="changeview('vieweyes')"><span class="fa fa-mail-reply fa-15x"></span></div>
      <div id="intwindow" class="btn btn-primary menu col-md-4" onclick="changeview('vieweyeselect')"><span class="fa fa-eye fa-15x"></span></div>
      <div id="intwindow" class="btn btn-primary menu col-md-4" onclick="changeview('viewint')"><span class="fa fa-comments-o fa-15x"></span></div>
    </div>
    <div class="menu-style col-md-12">
      <div id="pc" class="btn btn-primary menu col-md-4" onclick="changeview('viewmenutwo')"><span class="fa fa-desktop fa-15x"></span></div>
      <div id="refresh" class="btn btn-primary menu col-md-4"><span class="fa fa-repeat fa-15x" onclick="window.location.reload()"></span></div>
      <div id="quit" class="btn btn-primary menu col-md-4"><span class="fa fa-times fa-15x"></span></div>
    </div>
  </div>
  <div id="viewmenutwo" class="viewmenu">
    <div class="menu-style col-md-12">
      <div id="back" class="btn btn-primary menu col-md-4" onclick="changeview('viewmenu')"><span class="fa fa-mail-reply fa-15x"></span></div>
      <div id="power" class="btn btn-primary menu col-md-4"><span class="fa fa-power-off fa-15x"></span></div>
      <div id="reboot" class="btn btn-primary menu col-md-4"><span class="fa fa-refresh fa-15x"></span></div>
    </div>
    <div class="menu-style col-md-12">
      <div id="wifi" class="btn btn-primary menu col-md-12" onclick="changeview('viewwifi')">
        <span class="fa fa-wifi fa-15x"></span>
        <span id="ip" class="fa-10x"></span>
      </div>
    </div>
  </div>
  <div id="vieweyeselect" style="display: none">
    <div class="menu-style">
      <div id="back" class="btn btn-primary menu" onclick="changeview('viewmenu')"><span class="fa fa-mail-reply fa-10x"></span></div>
      <div class="eyes" onclick="changeeyes('black')"><img src="img/eyes/black/blink/blink (10).png" alt=""></div>
      <div class="eyes" onclick="changeeyes('white')"><img style="background-color: black;" src="img/eyes/white/blink/blink (10).png" alt=""></div>
      <div class="eyes" onclick="changeeyes('dots')"><img style="background-color: black;" src="img/eyes/dots/blink/blink (10).png" alt=""></div>
    </div>
  </div>
  <div id="viewint" style="display: none;">
    <br/><br/>
    <div class="row col-md-12">
      <div class="col-md-12">
        <span class="btn btn-lg btn-primary btn-block int" onclick="changeview('viewmenu')"><i class="fa fa-mail-reply"></i></span>
      </div>
      <br />
    </div>
    <div id="list" class="row col-md-12">
    </div>
    <br>
  </div>
  <div id="viewwifi" style="display: none;">
    <br/><br/>
    <div class="row col-md-12">
      <div class="col-md-12">
        <span class="btn btn-lg btn-primary btn-block int" onclick="changeview('viewmenu')"><i class="fa fa-mail-reply"></i></span>
      </div>
      <br />
    </div>
      <div class="row col-md-12">
        <div class="col-md-12" id="wifilist"></div>
      </div>
      <br>
  </div>
  <div id="viewwifi2" style="display: none;">
    <br />
    <br />
    <div class="row col-md-12">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-font" id="name" placeholder="SSID" autofocus>
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-font" id="pass" placeholder="**********">
          </div>
          <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plug fa-3x"></i></button>
          <div class="btn btn-primary btn-block" onclick="changeview('viewmenu')"><i class="fa fa-mail-reply fa-3x"></i></div>
        </form>
      </div>
    </div>
    <br>
    <div class="row col-md-12">
      <ul id="keyboard">
        <li class="symbol"><span class="off">`</span><span class="on">~</span></li>
        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
        <li class="symbol"><span class="off">2</span><span class="on">@</span></li>
        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
        <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
        <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
        <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
        <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
        <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
        <li class="delete lastitem">&larr;</li><li class="tab">&#8633;</li>
        <li class="letter">q</li><li class="letter">w</li><li class="letter">e</li>
        <li class="letter">r</li><li class="letter">t</li><li class="letter">y</li>
        <li class="letter">u</li><li class="letter">i</li><li class="letter">o</li>
        <li class="letter">p</li>
        <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
        <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
        <li class="capslock">caps lock</li><li class="letter">a</li><li class="letter">s</li>
        <li class="letter">d</li><li class="letter">f</li><li class="letter">g</li>
        <li class="letter">h</li><li class="letter">j</li><li class="letter">k</li>
        <li class="letter">l</li>
        <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
        <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
        <li class="return lastitem">&crarr;</li><li class="left-shift">shift</li>
        <li class="letter">z</li><li class="letter">x</li><li class="letter">c</li>
        <li class="letter">v</li><li class="letter">b</li><li class="letter">n</li>
        <li class="letter">m</li>
        <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
        <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
        <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
        <li class="right-shift lastitem">shift</li><li class="space lastitem">&#8213;&#8213;&#8213;</li>
      </ul>
    </div>
  </div>
  <div id="imgremote" style="display: none" onclick="changeview('vieweyes')">
    <img src="http://127.0.0.1:3000/images/saludo.png" alt="" width="">
  </div>
  
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/socket.io.js"></script>
  <script src="js/eyes.js"></script>
  <script>
    const { ipcRenderer } = require('electron');
    var reboot = document.querySelector("#reboot");
    var power = document.querySelector("#power");
    var quit = document.querySelector("#quit");
    var ip = document.querySelector('#ip');
    reboot.addEventListener('click', () => {
      ipcRenderer.send('restart');
    });
    power.addEventListener('click', () => {
      ipcRenderer.send('shutdown');
    });
    quit.addEventListener('click', () => {
      ipcRenderer.send('quit');
    });
    ipcRenderer.on('wifi:ip', (e, obj) => {
      ip.innerHTML = obj;
      if (obj == '127.0.0.1') {
        setTimeout(function () {
          ipcRenderer.send('getip');
        }, 5000);
      }
    });
    ipcRenderer.send('getip');

    function changeview(id) {
      let ids = ["vieweyes", "viewmenu", "viewmenutwo", "vieweyeselect", "viewint", "viewwifi", "viewwifi2", "imgremote"];
      for(let item of ids){
        document.getElementById(item).style.display = 'none';
      }
      document.getElementById(id).style.display = 'block';
    }
  </script>
  <script src="js/keyboard.min.js"></script>
  <script src="js/wifi.min.js"></script>
  <script src="js/interactions.min.js"></script>
  <script src="js/img.js"></script>
</body>

</html>