<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Eva</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico">
  <link rel="stylesheet" href="TemplateData/style.css">
  <link rel="stylesheet" href="TemplateData/css/font-awesome.min.css">
</head>

<body>
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-footer">
      <div id="ip" style="font-size: 55px;" class="btn btn-primary"></div>
      <div id="fullscreen" class="btn btn-primary f"><span class="fa fa-expand fa-5x"></span></div>
      <div id="wifi" class="btn btn-primary f"><span class="fa fa-wifi fa-5x"></span></div>
      <div id="int" class="btn btn-primary f"><span class="fa fa-comments-o fa-5x"></span></div>
      <div id="reboot" class="btn btn-primary f"><span center class="fa fa-refresh fa-5x"></span></div>
      <div id="power" class="btn btn-primary f"><span class="fa fa-power-off fa-5x"></span></div>
    </div>
  </div>
  <script>
    var buildUrl = "Build";
    var loaderUrl = buildUrl + "/Ojos.loader.js";
    var config = {
      dataUrl: buildUrl + "/Ojos.data",
      frameworkUrl: buildUrl + "/Ojos.framework.js",
      codeUrl: buildUrl + "/Ojos.wasm",
      streamingAssetsUrl: "StreamingAssets",
      companyName: "amitjans",
      productName: "Eyes2",
      productVersion: "0.1",
    };

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#fullscreen");

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
      container.className = "unity-mobile";
      config.devicePixelRatio = 1;
    } else {
      canvas.style.width = "1280px";
      canvas.style.height = "720px";
    }
    loadingBar.style.display = "block";

    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
      createUnityInstance(canvas, config, (progress) => {
        progressBarFull.style.width = 100 * progress + "%";
      }).then((unityInstance) => {
        loadingBar.style.display = "none";
        fullscreenButton.onclick = () => {
          unityInstance.SetFullscreen(1);
        };
      }).catch((message) => {
        alert(message);
      });
    };
    document.body.appendChild(script);

    // Edited
    const { ipcRenderer } = require('electron');
    var wifi = document.querySelector("#wifi");
    var int = document.querySelector("#int");
    var reboot = document.querySelector("#reboot");
    var power = document.querySelector("#power");
    var ip = document.querySelector('#ip');
    wifi.addEventListener('click', () => {
      ipcRenderer.send('wifi:window');
    });
    int.addEventListener('click', () => {
      ipcRenderer.send('int:window');
    });
    reboot.addEventListener('click', () => {
      ipcRenderer.send('restart');
    });
    power.addEventListener('click', () => {
      ipcRenderer.send('shutdown');
    });
    ipcRenderer.on('wifi:ip', (e, obj) => {
      console.log(obj);
      ip.innerHTML = obj;
    });
    ipcRenderer.send('getip');
  </script>
</body>

</html>