<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interacciones</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="TemplateData/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <h1>Interacciones</h1>
    <br>
    <div id="list" class="row col-md-12">

    </div>
    <br>
  </div>
  <script src="js/jquery-1.9.1.min.js"></script>
  <script>
    const { ipcRenderer } = require('electron');
  </script>
  <script src="js/interactions.min.js"></script>
</body>

</html>