#keyboard {
	list-style: none;
}
#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 105px;
	height: 105px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #007bff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.capslock, .tab, .left-shift {
	clear: left;
}
#keyboard .tab, #keyboard .delete {
	width: 105px;
}
#keyboard .capslock {
	width: 163px;
}
#keyboard .return {
	width: 159px;
}
#keyboard .left-shift {
	width: 207px;
}
#keyboard .right-shift {
	width: 228px;
}
.lastitem {
	margin-right: 0;
}
.uppercase {
	text-transform: uppercase;
}
#keyboard .space {
	clear: left;
	width: 1540px;
}
.on {
	display: none;
}
#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}