<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="content p-4">
                </div>
            </div>
            <div class="col-md-5">
                <form class="p-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="SSID" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="Contraseña">
                    </div>
                    <button class="btn btn-primary btn-block"> Conectarse</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const { ipcRenderer } = require('electron');
        const wifi = document.querySelector('.content.p-4');
        window.onload = function () {
            ipcRenderer.send('wifi:scan', { method: 'get' });
        }

        document.querySelectorAll('.alert.alert-info').forEach(w => {
            w.addEventListener('click', e => {
                document.querySelector('#name').value(e.target.children.children.children.value);
            })
        })

        ipcRenderer.on('wifi:list', (e, obj) => {
            console.log(obj);
            wifi.innerHTML = '';
            for (let i = 0; i < obj.length; i++) {
                // wifi.innerHTML += `<div class="alert alert-info" onclick="select('${obj[i].ssid}')">
                //     <div class="row">
                //         <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
                //             <h4><span class="fa fa-wifi"></span>${obj[i].ssid}<span class="fa fa-${obj[i].security != 'None' ? 'lock' : 'unlock'}"></span></h4>
                //         </div>
                //     </div>
                // </div>`
                wifi.innerHTML += `<button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="select('${obj[i].ssid}')">
                    <span class="fa fa-wifi"></span>&nbsp;${obj[i].ssid}&nbsp;<span class="fa fa-${obj[i].security != 'None' ? 'lock' : 'unlock'}"></span>
                    </button>`

            }
        })

        const form = document.querySelector('form');
        form.addEventListener('submit', e => {
            const name = document.querySelector('#name').value;
            const pass = document.querySelector('#pass').value;
            const descProduct = document.querySelector('#description').value;
            console.log(name, pass);
            const newWifi = {
                name: name,
                price: pass
            };
            ipcRenderer.send('wifi:new', newWifi)
            e.preventDefault();
        })

        function select(params) {
            document.querySelector('#name').value = params;
        }
    </script>

</body>

</html>